<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">

<body>

<div layout:fragment="page-title">
    <p>
    <h4>
        <a th:href="@{/todo/{id}(id=${todo.id})}">
            <button type="button" class="btn btn-secondary btn-sm">할일 상세</button>
        </a>
        <a th:href="@{/todo/{id}/reference(id=${todo.id})}">
            <button type="button" class="btn btn-secondary btn-sm">참조 수정</button>
        </a>
    </h4>
    </p>
</div>

<div layout:fragment="page-content">
    <div class="row" style="width:1024px">
        <div class="col-lg">
            <span>할일 정보</span>
            <table class="table table-sm table-dark">
                <tr>
                    <td>ID</td>
                    <td th:text="${todo.id}"/>
                </tr>
                <tr>
                    <td>할일</td>
                    <td th:text="${todo.content}"/>
                    </td>
                </tr>
                <tr>
                    <td>작성일시</td>
                    <td th:text="${todo.createDate}"/>
                </tr>
                <tr>
                    <td>수정일시</td>
                    <td th:text="${todo.updateDate}"/>
                </tr>
                <tr>
                    <td>상태</td>
                    <td th:text="${todo.statusName}"/>

                </tr>
            </table>
        </div>

        <div class="col-sm">
            <span>
                참조한 할일 &nbsp;&nbsp;
            </span>
            <form id="frmRemoveReference" name="frmRemoveReference" method="POST"
                  th:action="@{/todo/{id}/reference/remove(id=${todo.id})}">

                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col" th:text="ID"/>
                        <th scope="col" th:text="할일"/>
                        <th scope="col" th:text="상태"/>
                        <th scope="col"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="referenceTodo : ${todo.reference}">
                        <td th:text="${referenceTodo.id}"/>
                        <td>
                            <a th:href="@{/todo/{id}/reference(id=${referenceTodo.id})}">
                                <span th:text="${referenceTodo.content}"/>
                            </a>
                        </td>
                        <td th:text="${referenceTodo.statusName}"/>
                        <td>
                            <a th:onclick="|removeReference('${referenceTodo.id}');|" class="badge badge-info">제외</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input id="removeReferenceIds" name="referenceIds" type="hidden"/>
            </form>
        </div>

        <div class="col-sm">
            <span>새로운 할일</span>
            <form id="frmAddReference" name="frmAddReference" method="POST"
                  th:action="@{/todo/{id}/reference/add(id=${todo.id})}">

                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col" th:text="ID"/>
                        <th scope="col" th:text="할일"/>
                        <th scope="col" th:text="상태"/>
                        <th scope="col"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="newTodo : ${newTodoList}">
                        <td th:text="${newTodo.id}"/>
                        <td>
                            <a th:href="@{/todo/{id}/reference(id=${newTodo.id})}">
                                <span th:text="${newTodo.content}"/>
                            </a>
                        </td>
                        <td th:text="${newTodo.statusName}"/>
                        <td>
                            <a th:onclick="|addReference('${newTodo.id}');|" class="badge badge-info">추가</a>
                        </td>
                    </tr>
                    </tbody>
                    <input id="addReferenceIds" name="referenceIds" type="hidden"/>
                </table>
            </form>
        </div>

    </div>

    <script>
        function addReference(referenceId) {
            $("#addReferenceIds").val([referenceId]);
            $("#frmAddReference").submit();
        }

        function removeReference(referenceId) {
            $("#removeReferenceIds").val([referenceId]);
            $("#frmRemoveReference").submit();
        }
    </script>

</div>
</body>
</html>

